@import url('https://fonts.googleapis.com/css?family=Poiret+One|Press+Start+2P');
#signUpAtHome{
  background-color: antiquewhite;
}
#signUpFormContainer{
  margin: 20px 20px;
}
#signUpActualForm{
  max-width: 500px;
}
#ad{
  background: linear-gradient(35deg, blue , green);
  text-align: center;
  color: bisque;
}

#ad{
  margin-left:10%;
  color:  antiquewhite;
  border: 5px solid burlywood;
  padding: 5%;
  background-blend-mode: saturation;
  background-color: cadetblue;
  font-family: 'Poiret One', cursive;
}
h3{
  margin: 2%;
  color:  antiquewhite;
  border: 5px solid burlywood;
  padding: 5%;
  background-blend-mode: saturation;
  background-color: cadetblue;
  font-family: 'Poiret One', cursive;
}
h1{
  margin: 2%;
  color:  antiquewhite;
  padding: 10%;
  background-blend-mode:   darken;
  background-color: cadetblue;
  font-family: 'Press Start 2P', cursive;
}
#signUpActualForm{
  color:  antiquewhite;
  border: 5px solid burlywood;
  padding: 5%;
  background-blend-mode: saturation;
  background-color: cadetblue;
  font-family: 'Poiret One', cursive;
}